In [1]:
for i in "India":
 print(i)

I
n
d
i
a

In [2]:
amt=["1500","1600","1700","1800"]
for i in amt:
    print(f'Various days{i}')

Various days1500
Various days1600
Various days1700
Various days1800

In [14]:
for i in range(6):
    print("You got a point",i)

You got a point 0
You got a point 1
You got a point 2
You got a point 3
You got a point 4
You got a point 5

In [16]:
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [28]:
str='No'

for i in range(1,7):
        print(i*"No")

No
NoNo
NoNoNo
NoNoNoNo
NoNoNoNoNo
NoNoNoNoNoNo

In [4]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [7]:
num=int(input("Enter the Number"))
for x in range(1,11):
    print(num*x)

4
8
12
16
20
24
28
32
36
40

In [12]:
sum=0
for x in range(0,101,2):
    sum=sum+x
print(sum)

2550

In [23]:
sum=0
lst=[8,9,6,19,13,18]
for x in lst:

 sum=sum+x

p=len(lst)
print(sum/p)

12.166666666666666

In [1]:
num=input("enter the number")
sum=0
for j in num:
    sum=sum+int(j)
print(sum)

5

In [36]:
arr=[21,13,56,45,23,87]
largest=arr[0]
for i in arr:
    if i>largest:
        largest=i
print(largest)

87

In [42]:
lst=[2012,2000,1940,2024,1999,1700]
for lp in lst:
    if lp%4==0:
        print("LEAP YEAR:",lp)

LEAP YEAR: 2012
LEAP YEAR: 2000
LEAP YEAR: 1940
LEAP YEAR: 2024
LEAP YEAR: 1700

In [11]:
for k in range(1,6):
    for j in range(1,11):
      print(k*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [1]:
number="24983"
count=0
for i in number:
    count+=1
print(count)

5

In [1]:
str=input("Enter the required string")

for k in str:
    if(k=='a'or k=='e'or k=='i'or k=='o'or k=='u'):
     
     print(k)
    else:
       print("ðŸ¤º")

i

In [10]:
nam="Kushagra"
for i in range(1,6):
 print(nam)

Kushagra
Kushagra
Kushagra
Kushagra
Kushagra

In [12]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [1]:
i=0
while i<=20:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [19]:
for i in range(1,21):
    if i%2!=0:
     print(i)

1
3
5
7
9
11
13
15
17
19

In [23]:
for i in range(2,11):
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [7]:
lst=["Mango","Apricot","Guava","Capsicum","onion","Apple","Litchi"]
for i in lst:
    if i=="Capsicum" or i=="onion":
      continue
    print(i)

Mango
Apricot
Guava
Apple
Litchi